.main {
    display: flex;
    flex-direction: column;
    margin: 120px 0 0 150px;
    height: 100%;
    background-color: #d3d9;
    flex-grow: 1;

    .window {
        background-color: #fff;
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .text {
            width: 55%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-self: center;

            h1 {
                text-align: center;
                font-size: 45px;
            }

            p {
                margin-top: 25px;

                &:nth-last-of-type(1) {
                    margin-top: 15px;
                }
            }
        }
    }
}