.card {
    background-color: #ddd;
    width: 425px;
    min-width: 34%;
    height: 300px;
    margin-top: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px 0px rgba(168, 161, 168, 1);

    .container {
        width: 100%;
        height: 70%;
        background-color: #fff;
        display: flex;
        padding: 10px;
        border-radius: 10px;

        .img {
            background-image: url("assets/male.svg");
            width: 80px;
            height: 80px;
        }

        .text {
            flex-grow: 1;
            text-align: right;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: gray;
                    text-decoration: underline;
                }
            }

            span {
                display: block;
                color: gray;
            }
        }
    }

    .interactions {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: flex-end;

        img {
            height: 55px;
            width: 55px;

            &:hover {
                opacity: .3;
                cursor: pointer;
            }
        }
    }

}