.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 300px;
    height: 55%;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 10;

    @media (min-width: 1024px) {
        width: 550px;
        height: 350px;
    }

    p {
        text-decoration: underline;
        font-weight: 800;
    }

    img {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    h1 {
        margin-top: 30px;
    }

    form {
        width: 90%;
        height: 200px;
        margin-top: 30px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (min-width: 1024px) {
            width: 400px;
        }

        label {
            text-transform: uppercase;
            font-weight: 800;
            align-self: flex-start;
        }

        textarea {
            font-size: 20px;
            margin-top: 7.5px;
            width: 100%;
            border-radius: 7.5px;
            padding: 2.5px;
        }

        input {
            width: 100%;

            &[type="submit"] {
                width: 20%;
                margin-right: 0;
                margin-top: 7.5px;
            }
        }
    }
}