.container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // // justify-content: center;
    width: 100%;
    margin: 120px 0 0 150px;
    position: relative;

    .window {
        width: 70%;
        max-width: 650px;
        border: 3px solid gray;
        border-radius: 7.5px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);

        .profile {
            height: 180px;
            display: flex;
            align-items: center;
            width: 100%;

            .img {
                min-width: 160px;
                height: 150px;
                margin-left: 20px;
                border-radius: 50%;
                background-image: url();
                background-image: url("assets/male.svg");
                background-color: #ddd;
                background-repeat: no-repeat;
            }

            .info {
                padding-left: 20px;
                flex-grow: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                margin-right: 30px;

                p {
                    span {
                        font-weight: 800;
                    }
                }
            }

            img {
                width: 60px;
                height: 60px;
                margin-right: 25px;
                cursor: pointer;

                &.friends {
                    opacity: .3;
                }
            }
        }

        .posts {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 10px;
            background-color: #ddd;
        }
    }
}