.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 120px 0 0 150px;

    .window {
        width: 70%;
        max-width: 800px;
        min-height: 500px;
        border: 1px solid black;

        .profile {
            height: 180px;
            display: flex;
            align-items: center;
            width: 100%;

            .img {
                width: 160px;
                height: 160px;
                margin-left: 20px;
                border-radius: 50%;
                background-image: url();
                background-image: url("assets/male.svg");
                background-color: #ddd;
            }

            .info {
                padding-left: 20px;
                flex-grow: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                p {
                    span {
                        font-weight: 800;
                    }
                }
            }

            img {
                width: 60px;
                height: 60px;
                margin-right: 25px;
                cursor: pointer;

                &.friends {
                    opacity: .3;
                }
            }
        }

        .posts {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 15px;
            background-color: #ddd;
        }
    }
}