.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #ddd;

    .login {
        position: relative;
        height: 50%;
        max-width: 650px;
        width: 50%;
        border: 3px solid gray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: rgb(236, 230, 230);

        h1 {
            font-size: 45px;
            position: absolute;
            top: 10px;
        }

        form {
            display: flex;
            max-width: 300px;
            width: 50%;
            //   flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            label {
                margin-bottom: 2.5px;
                width: 100%;
                text-align: center;

                &.error {
                    color: #ff0000;
                }
            }

            input {
                margin-bottom: 7.5px;
                width: 60%;

                &[type="submit"] {
                    width: 50%;
                }
            }

            a {
                color: #000;
            }
        }
    }
}